.postListContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: grid; /* Grid 레이아웃을 사용하도록 변경 */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 필요한 열(column)만큼 생성 */
  background-color: yellow;
}

.postListContainer h1 {
  font-size: 36px;
  margin-bottom: 10px;
  grid-column: 1 / -1; /* h1 태그를 첫 열부터 마지막 열까지 확장 */
  
}

.postListItem {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  display: grid; /* 강제 줄바꿈 및 너비 설정을避쳐가기 위해 grid 레이아웃 사용 */
}

.postListItem h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.postListItem p {
  font-size: 16px;
  margin: 0;
}
