
.gridContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 60px;
  row-gap: 40px;
  background-color: gray;
  justify-items: center;
  align-items: center;
}
.item {
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
  background-color: antiquewhite;
  width: 200px; /* 가로 크기 설정 */
  height: 200px; /* 세로 크기 설정 */
}
.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 높이를 지정하여 다양한 화면 크기에서 중앙에 배치하도록 유지 */
  min-height: 60vh;
}